@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="/Habitat/Index" class="btn btn-primary btn-lg">Full Habitat List</a></p>
    <p><a href="/Employee/Index" class="btn btn-primary btn-lg">Full Employee List</a></p>
    <p><a href="/Animal/Index" class="btn btn-primary btn-lg">Full Animal List</a></p>
</div>