@{
    ViewBag.Title = "All Animals";
}

<div class="jumbotron">
    <h1>Foolandia</h1>
    <p class="lead">Foolandia, A Very Special Place To Visit!</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>All Animals</h3>
       
        <ul class="list-group">
            @{foreach (var Animal in ViewBag.Animals)
                {
                    <li class="list-group-item">Name: @Animal.Name, Current Habitat: @Animal.CurrentHabitat</li>
                }
            }
        </ul>
    </div>
</div>
